header {
    @include media($max-sm) {
        br {
            display: none;
        }

        .icon-logo--cp-gold {
            height: 35px;
            margin: 0;
        }

        .icon-logo--full-text {
            display: inline;
            height: 14px;
            margin: 0;

            svg {
                height: 14px;
            }
        }

        .mobile-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            z-index: 10;
            position: relative;
            background-color: white;
        }

        .menu--trigger {
            width: 16px;
            height: 16px;
            position: relative;
            display: block;

            span {
                height: 1px;
                width: 100%;
                border-bottom: 1px solid;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
                display: block;
                opacity: 1;
                transition: opacity 0.2s $base-cubic;
            }

            &:after, &:before {
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                content: ' ';
                transform-origin: center;
                transform: translateY(0) rotate(0);
                transition: transform 0.2s $base-cubic;
            }

            &:before {
                border-top: 1px solid;
                top: 0;
            }

            &:after {
                border-bottom: 1px solid;
                bottom: 0;
            }
        }

        nav {
            position: absolute;
            background-color: white;
            width: 100%;
            z-index: 9;
            transform: translateY(-110%);
            transition: transform 0.4s $base-cubic;

            ul {
                li {
                    display: block;
                    border-right: 0;
                    width: 80%;
                    margin: 0 auto;
                    border-bottom: 1px solid $gray;
                    padding: $mobile-spacing 0;
                    transition: transform 0.4s $base-cubic;
                    transform: translateY(-20px);
                    position: relative;
                }
            }
        }

        &.openmobile {
            .menu--trigger {
                background-color: transparent;

                &:after, &:before {
                    transition: transform 0.2s $base-cubic;
                }

                &:before {
                    transform: translateY(7.5px) rotate(45deg);
                }

                &:after {
                    transform: rotate(45deg);
                    transform: translateY(-7.5px) rotate(-45deg);
                }

                span {
                    transition: opacity 0.2s $base-cubic;
                    opacity: 0;
                }
            }

            nav {
                transition: transform 0.4s $base-cubic;
                transform: translateY(0%);

                ul {
                    li {
                        transition: transform 0.4s $base-cubic;
                        transform: translateY(0);

                        &:nth-of-type(1) {
                            transition-delay: .05s;
                        }

                        &:nth-of-type(2) {
                            transition-delay: .075s;
                        }

                        &:nth-of-type(3) {
                            transition-delay: .1s;
                        }

                        &:nth-of-type(4) {
                            transition-delay: .125s;
                        }

                        &:nth-of-type(5) {
                            transition-delay: .15s;
                        }

                        &:nth-of-type(6) {
                            transition-delay: .175s;
                        }
                    }
                }
            }
        }
    }
}