nav {
    .logo {
        display: none;
    }

    ul {
        margin: 0;
        list-style-type: none;

        li {
            margin: 0;
            display: inline-block;
            border-right: 1px solid $gray;

            @include media($screen-sm) {
                &:nth-last-of-type(-n+2) {
                    border: 0;
                }
            }
        }
    }
}