// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$gold:				#e8d69e;
$black:				#000000;
$white:				white;
$pink:				#ff0890;
$gray:				#e5e5e5;
$gray-font: 		#b2b2b2;
$form-black:		#262626;

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)