.bg--gold-texture {
    background-image: url("img/logo-bg.jpg");
    background-position: center;
    background-size: 100%;
}

.bg--gold {
    background-color: $gold;
}

.bg--black {
    background-color: $black;
}

.bg--gray {
    background-color: $gray;
}

.bg--white {
    background-color: $white;
}

.bg--pink {
    background-color: $pink;
}