.block--instagram-image {
    overflow: hidden;
    height: 50vw;
    position: relative;

    @include media($screen-xs) {
        height: 33.333vw;
    }


    @include media($screen-sm) {
        height: 25vw;
    }


    @include media($screen-md) {
        height: 20vw;
    }


    img {
        &.wide {
            height: 100%;
            width: auto;
        }

        &.tall {
            width: 100%;
            height: auto;
        }

        &.square {}
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:nth-of-type(10), &:nth-of-type(11) {
        @include media($max-xs) {
            display: none;
        }


        @include media($screen-md) {
            display: none;
        }
    }
}

.block--instagram-link {
    height: 50vw;
    position: relative;

    @include media($screen-xs) {
        height: 33.333vw;
    }


    @include media($screen-sm) {
        height: 25vw;
    }


    @include media($screen-md) {
        height: 20vw;
    }


    a {
        span {
            @include media($max-sm) {
                font-size: .8em !important;
            }
        }
    }
}