.button {}

.hover--pink-bg {
    padding-top: 0;
    padding-bottom: 0;
    background-position: 100%;
    background-repeat: no-repeat;
    display: inline;

    // line-height: 1.5;
    background: linear-gradient(transparent 0, transparent 50%, $pink 50%);

    // background: linear-gradient(transparent 0, $pink 0);
    background-size: 200%;
    transition: background-size 0.2s $base-cubic;

    &:hover, &:active {
        transition: background-size 0.2s $base-cubic;
        background-size: 100%;
    }

    &.five {
        padding-left: 5px;
        padding-right: 5px;
    }

    &.ten {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.button--inline-pink-hover {
    border-bottom: 0px solid transparent;
    padding-bottom: 6px;
    transition: border 0.25s $base-cubic, color 0.2s $base-cubic, padding 0.25s $base-cubic;

    &:hover {
        transition: border 0.25s $base-cubic, color 0.2s $base-cubic, padding 0.25s $base-cubic;
        border-bottom: 4px solid $pink;
        padding-bottom: 2px;
        color: $pink;
    }
}