.color--gold {
    color: $gold;
}

.color--black {
    color: $black;
}
.color--black-text{
	color:$blacktext;
}

.color--gray {
    color: $gray;
}

.color--gray-font {
    color: $gray-font;
}

.color--white {
    color: $white;
}

.color--pink {
    color: $pink;
}