.icon-logo--cp-black {
    height: 75px;

    @include media($screen-sm) {
        height: 90px;
    }


    @include media($screen-md) {
        height: 115px;
    }


    display: block;

    svg {
        height: 100%;
    }
}

.icon-logo--full-text {
    height: 20px;

    @include media($screen-sm) {
        height: 30px;
    }


    @include media($screen-md) {
        height: 40px;
    }


    display: block;

    svg {
        height: 100%;
    }
}

.icon-arrow-right {
    &.text {
        height: 8px;
        display: inline-block;
        position: relative;
        top: -1px;

        svg {
            height: 100%;
        }
    }
}

.icon-social--instagram {
    width: 50px;
    display: block;

    &.color--white {
        svg {
            height: 100%;
            path {
                fill: $white;
            }
        }
    }
}