.icon-logo--cp-gold {
    height: 75px;

    @include media($screen-sm) {
        height: 90px;
        margin-bottom: 1em;
    }


    display: block;

    svg {
        height: 100%;
    }
}

.icon-logo--full-text {
    svg {
        height: 20px;

        @include media($screen-sm) {
            height: 30px;
        }


        @include media($screen-md) {
            height: 35px;

        }
    }
    margin-bottom: 1em;
}

.icon-arrow-right {
    &.text {
        height: 8px;
        display: inline-block;
        position: relative;
        top: -1px;

        svg {
            height: 100%;
        }
    }
}

.icon-social--instagram {
    width: 50px;
    display: block;

    &.color--white {
        svg {
            height: 100%;

            path {
                fill: $white;
            }
        }
    }
}

.icon-post-toggle {
    svg {
        width: 30px;
    }

    &.right {
        svg {
            transform: rotate(180deg);
        }
    }
}