.icon-logo--cp-black {
    height: 75px;

    @include media($screen-sm) {
        height: 90px;
    }


    @include media($screen-md) {
        height: 115px;
    }


    display: block;

    svg {
        height: 100%;
    }
}

.icon-logo--full-text {
    height: 20px;

    @include media($screen-sm) {
        height: 30px;
    }


    @include media($screen-md) {
        height: 40px;
    }


    display: block;

    svg {
        height: 100%;
    }
}