.section--archive-pagination {
    a {
        .icon-arrow-right {
            svg {
                width: 10px;
            }
        }
    }

    .prev {
        .icon-arrow-right {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    .page-numbers {
        padding:0 7px;
        
    }
}