.section--pinned-post {
    align-items: stretch;

    img {
        width: 100%;
    }

    .pinned--image {
        background-size: cover;
        background-position: center;
    }

    .pinned--content {
        @include media($screen-sm) {
            h2 {
                margin-bottom: 0.4em;
                line-height: 1.2;
                font-size:1.9em;
            }
        }


        @include media($screen-sm) {
            padding: 3em;
        }


        @include media($max-md) {
            padding: 2em;
        }


        @include media($screen-md) {
            padding: 4em;
        }


        @include media($screen-lg) {
            padding: 5em;
        }
    }
}