.section--social {
    i {
        text-align: center;
        margin: 0px 10px;
        height: 30px;
        display: inline-block;
        position: relative;
        width: 16px;

        svg {
            height: 16px;
            width: 16px;
            position: relative;
            top: calc(50% - 5px);
            transform: translateY(-50%);
        }
    }

    .searchform {
        width: 0%;
        transition: width 0.2s $base-cubic;
        display: inline-block;

        [type="text"] {
            transition: border 0.2s $base-cubic;
            border: 0;
            margin: 0;
            padding: 0px 6px;
            font-size: 1em;
            font-weight: 400;
            height: 30px;
        }
    }

    .icon-social--search {}

    &.searching {
        .searchform {
            width: 220px;
            transition: width 0.2s $base-cubic;

            [type="text"] {
                border: 1px solid $black;
                transition: border 0.2s $base-cubic;

                &:focus {

                }
            }
        }
    }
}

.searchform {
    label, [type="submit"] {
        @extend .screenreaderonly;
    }
}