h1, h2, h3, h4, h5, h6 {
    &.bordered {
        position: relative;

        &:before, &:after {
            content: " ";
            height: 1px;
            width: 38%;
            background: $gray;
            display: block;
            top: 50%;
            position: absolute;
        }
        &:after{
        	right: 0;
        }
    }
}