<header class="fixed-nav bg--white hidden--mob">
	<section class="nav--wrap max-wrap margin--center spacing--vert-1 text--center flex flex--wrap justify--between align--items-center">
		{% include 'components/navigation.twig' %}
		{% include 'components/sections/section--social-fixed.twig' %}
	</section>
</header>