<header class="header max-wrap margin--center spacing--dsk-vert-1 text--center">
	{% include 'components/sections/section--social.twig' %}
	<div class="mobile-flex spacing--gutter-mob spacing--vert-1 spacing--dsk-vert-0">
		<a href="{{site.url}}" class="inline-block"><i class="icon-logo--cp-gold margin--center" data-grunticon-embed></i></a><br>
		<a href="{{site.url}}" class="inline-block margin--vert-half"><i class="icon-logo--full-text margin--center margin--vert-1" data-grunticon-embed></i></a>
		<span class="menu--trigger"><span></span></span>
	</div>
	{% include 'components/navigation.twig' %}
</header>