<header class="header max-wrap margin--center spacing--vert-1 text--center">
	{% include 'components/sections/section--social.twig' %}
	
	<a href="{{site.url}}" class="block"><i class="icon-logo--cp-gold margin--center" data-grunticon-embed></i></a><br>
	<a href="{{site.url}}" class="block"><i class="icon-logo--full-text margin--center margin--vert-1" data-grunticon-embed></i></a>
	{% include 'components/navigation.twig' %}
</header>