{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">

	{% block header %}
		{% include 'components/header.twig' %}
		{% include 'components/fixed-nav.twig' %}
	{% endblock %}

<main role="main" class="content-wrapper">
		{% block content %}
			Sorry, no content
		{% endblock %}
			{% if pagination %}
			{% include 'components/sections/section--archive-pagination.twig' %}
		{% endif %}
	{% include 'components/sections/section--email-signup.twig' %}
	{% include 'components/sections/section--instagram.twig' %}
</main>
{% block footer %}

	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}
</body>
</html>