.icon-arrow-right-gold { background-image: url('app/icons/arrow-right-gold.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('app/icons/arrow-right.png'); background-repeat: no-repeat; }

.icon-diamond { background-image: url('app/icons/diamond.png'); background-repeat: no-repeat; }

.icon-logo--cp-black { background-image: url('app/icons/logo--cp-black.png'); background-repeat: no-repeat; }

.icon-logo--cp-gold-01 { background-image: url('app/icons/logo--cp-gold-01.png'); background-repeat: no-repeat; }

.icon-logo--cp-gold { background-image: url('app/icons/logo--cp-gold.png'); background-repeat: no-repeat; }

.icon-logo--full-text { background-image: url('app/icons/logo--full-text.png'); background-repeat: no-repeat; }

.icon-post-toggle { background-image: url('app/icons/post-toggle.png'); background-repeat: no-repeat; }

.icon-social--facebook { background-image: url('app/icons/social--facebook.png'); background-repeat: no-repeat; }

.icon-social--instagram { background-image: url('app/icons/social--instagram.png'); background-repeat: no-repeat; }

.icon-social--pinterest { background-image: url('app/icons/social--pinterest.png'); background-repeat: no-repeat; }

.icon-social--search { background-image: url('app/icons/social--search.png'); background-repeat: no-repeat; }

.icon-social--twitter { background-image: url('app/icons/social--twitter.png'); background-repeat: no-repeat; }

