<section class="section--latest-posts max-wrap margin--center spacing--gutter content-box flex flex--wrap justify--between align--baseline ">
	<h3 class="font--sans text--uppercase text--center color--black bordered grid--one margin--vert-3">Latest Posts</h3>
	{% for post in posts %}
		{% if post.id != pinpost and loop.index < 6 %}
			{% include 'components/blocks/block--post.twig' %}
		{% endif %}
	{% endfor %}
	{% include 'components/blocks/block--about-link.twig' %}
	<div class="text--right grid--one margin--bot-3">
		<hr class="grid--one">
		<div class="text--uppercase letter--1 font--smaller font--semi-bold">Show More <i class="icon-arrow-right text" data-grunticon-embed></i></div>
	</div>
</section>