{% if home.shop.url %}
<section class="section--home-shop max-wrap margin--center spacing--gutter bg--black color--white text--center spacing--vert-4 border--pink">
	<div class="grid--one grid--sm-two-thirds margin--center">
	<h2 class="color--white text--uppercase margin--bot-1">{{home.shop.title}}</h2>
	<p class="color--white font--even-larger font--light">{{home.shop.paragraph}}</p>
	<a href="{{home.shop.url}}" class="font--semi-bold color--gold text--uppercase letter--1 font--smaller button--inline-pink-hover">{{home.shop.button}}</a>
</div>
</section>
{% endif %}