<section class="section--options-email text--center spacing--vert-4 spacing--gutter">
	<h4 class="font--sans text--uppercase text--center color--black">{{options.email.title}}</h3>
	<p class="color--gray-font font--smaller text--uppercase margin--vert-1">{{options.email.subtitle}}</p>
	{{options.email.embed}}
</section>