<section class="section--home-email text--center spacing--vert-4 spacing--gutter">
	<h4 class="font--sans text--uppercase text--center color--black">{{home.email.title}}</h3>
	<p class="color--gray-font font--smaller text--uppercase margin--vert-1">{{home.email.subtitle}}</p>
	{{home.email.embed}}
</section>