<div class="block--about-link grid--one grid--xs-half grid--lg-third bg--black color--white margin--vert-2 text--center spacing--vert-3 spacing--dsk-0 border--pink">
	<div class="vertical--center">
		<i class="icon-logo--cp-gold margin--center" data-grunticon-embed></i>
		<h2 class="font--sans text--uppercase letter--2 line--short margin--vert-2">{{home.about.text}}</h2>
		<a href="{{home.about.url}}" class="font--semi-bold color--gold text--uppercase letter--1 font--smaller button--inline-pink-hover">{{home.about.button}}</a>
	</div>
</div>