<div class="block--about-link grid--one grid--xs-half grid--lg-third bg--black color--white margin--vert-2 text--center spacing--vert-3 spacing--dsk-0">
	<div class="vertical--center">
		<i class="icon-logo--cp-gold margin--center" data-grunticon-embed></i>
		<h2 class="font--sans text--uppercase letter--2 line--short margin--vert-2">Style.<br>Structure.<br>Culture.</h2>
		<a href="{{pinnedPost.link}}" class="font--semi-bold color--gold text--uppercase letter--1 font--smaller">About Chrisa</a>
	</div>
</div>